.new-collection {
    padding: 20px;
    overflow: hidden;
}

.scroll-container {
    display: grid;
    padding-left: 45px;
}

.new-collection-item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 24%;
    overflow-x: auto;
    scrollbar-width: none;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

@media (min-width: 1000px) {
    .new-collection-item {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 24%;
        overflow-x: auto;
        scrollbar-width: none;
    }
}

@media (max-width: 1000px) and (min-width: 800px) {    
    .new-collection-item {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 34%;
        overflow-x: auto;
        scrollbar-width: none;
    }
}

@media (max-width: 800px) and (min-width: 600px){    
    .new-collection-item {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 57%;
        overflow-x: auto;
        scrollbar-width: none;
    }
}

@media (max-width: 600px) {    
    .new-collection-item {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 85%;
        overflow-x: auto;
        scrollbar-width: none;
    }
}