.cart-items {
    margin: 70px;
    justify-content: center;
}

.cart-items h1 {
    text-align: center;
    color: var(--primary-color);
}

.cart-items-products-left .cart-items-products-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    font-weight: 700;
    color: var(--secondary-text-color)
}

.cart-items-products-left .cart-items-products-menu p.cart-product-menu {
    text-align: center;
    width: 300px;
}

.cart-items-added {
    display: flex;
    gap: 70px;
    margin-block: 40px;
    align-items: center;
}

.cart-items-added .cart-items-product-description {
    width: 300px;
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
}

.cart-items-added .cart-items-product-description img {
    width: 100px;
    border-radius: 7px;
}

.cart-items-quantity {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-inline: 10px;
    height: 40px;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
}

@media (max-width: 800px) {
    .cart-items .cart-items-products {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 800px) {
    .cart-items .cart-items-products {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.cart-items-products-right {
    width: 400px;
    height: 250px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.cart-items-products-right h2 {
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.cart-items-products-right .subtotal-shipping {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    opacity: 0.8;
    padding-inline: 20px;
}

.cart-items-products-right .total-amount {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    border-top: 1px solid var(--primary-color);
}

.cart-items-products-right button {
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.7px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    background-color: transparent;
}

p.no-items {
    color: var(--primary-color);
    font-size: 15px;
    opacity: 0.5;
    text-align: center;
    padding: 30px;
}